# Python
venv/
.venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/
dist/
build/
.coverage
htmlcov/
.pytest_cache/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment
.env
!.env.example

# Node
node_modules/

# PlatformIO
.pio/
.pioenvs/
.piolibdeps/

# IDE / OS
.idea/
.vscode/
*.swp
*.swo
.DS_Store
